.wrapper
{
    height: 80vh;
}
.login
{
    margin-top: 5rem;
    width: 400px;
    height: min-content;
    padding: 20px;
    border-radius: 5px;
    color: black;
    background-color: rgb(242, 243, 244);
}